@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap");
body {
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h2 {
  font-family: "Quicksand", sans-serif;
  margin-bottom: 28px;
  font-weight: 300;
  font-size: 48px;
  color: #3D4F9F;
}
h2 span {
  font-weight: 500;
}

h6 {
  margin-bottom: 16px;
  font-size: 10px;
  color: #3D4F9F;
}

.wrapper-outer {
  border-bottom: 1px solid #D8E3FE;
}

.wrapper-inner {
  margin: 0 auto;
  max-width: 900px;
  padding-top: 120px;
  padding-bottom: 120px;
}
.wrapper-inner_wide {
  max-width: 1200px;
}

.main-nav {
  display: flex;
  align-items: center;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.logo {
  width: 26px;
  height: 26px;
  border-radius: 100%;
  background-color: #5E81FE;
}

.menu {
  margin-left: 73px;
}

.menu__item + .menu__item {
  margin-left: 42px;
}

.menu__item-link {
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #697CA6;
  transition: 0.2s;
}
.menu__item-link_active {
  font-weight: 700;
  color: #6188FF;
}
.menu__item-link:hover {
  color: #6188FF;
}

.socials {
  margin-left: auto;
}

.socials__item + .socials__item {
  margin-left: 37px;
}

.socials__item-link {
  display: block;
  height: 20px;
  text-decoration: none;
}
.socials__item-link path {
  fill: #697CA6;
  transition: 0.2s;
}
.socials__item-link:hover path {
  fill: #6188FF;
  transition: 0.2s;
}

.main-nav__button {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 13px;
  padding: 12px 16px;
  margin: 0;
  background-color: none;
  border: 0;
  border-radius: 2px;
}
.main-nav__button_primary {
  background-color: #D2E1FF;
  color: #3A79FF;
  transition: 0.2s;
}
.main-nav__button_primary:hover {
  background-color: #b9d0ff;
  color: white;
  transition: 0.2s;
}

.button-wrapper {
  margin-left: 44px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
}

.dots {
  display: flex;
  padding: 0;
  position: absolute;
  margin: 0;
  bottom: 28px;
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
}

.dots__item {
  position: relative;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #D1D6E3;
  cursor: pointer;
}
.dots__item + .dots__item {
  margin-left: 8px;
}
.dots__item_active {
  background-color: #5283FF;
}

.section-header {
  border: 0;
}
.section-header .wrapper-inner {
  padding-top: 20px;
  padding-bottom: 20px;
}

.section-hero-image {
  position: relative;
}

.hero-image-slider {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hero-image-slider__item-content * {
  align-self: center;
  text-align: center;
}
.hero-image-slider__item-content p {
  margin: 0;
  margin-bottom: 20px;
  width: 472px;
  font-size: 15px;
  line-height: 2;
  color: #8D96BD;
}

.hero-image-slider__item {
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-image-slider__button-play {
  display: flex;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #fff;
  box-shadow: 0 10px 50px rgba(201, 209, 231, 0.6);
  cursor: pointer;
}

.section-customers .wrapper-inner {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-plan-and-manage {
  background-color: #F5F8FF;
}

.section-stats {
  background-color: #E9EFFF;
}
.section-stats .wrapper-inner {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-blog {
  background-color: #F5F8FF;
}

.section-quotes {
  background-color: #EAF0FF;
}

.section-get-started {
  background-color: #6888FF;
}

.section-newsletter {
  background-color: #FCFDFF;
}

.section-footer .wrapper-inner {
  padding-top: 90px;
  padding-bottom: 90px;
}

.copyright {
  font-family: "Quicksand", sans-serif;
  margin-left: 99px;
  margin-top: 27px;
  font-weight: 500;
  font-size: 12px;
  color: #AEB8D0;
}

/*# sourceMappingURL=styles.css.map */
