@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap');

// MIXINS
@mixin roboto {
    font-family: 'Roboto', sans-serif;
}

@mixin quicksand {
    font-family: 'Quicksand', sans-serif;
}
// /MIXINS

// VARS
$content-width-base: 900px;
$content-width-wide: 1200px;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$fs-base: 10px;

$padding-vertical-base: 60px;

$border-color: #D8E3FE;

$transition: .2s;

$color-primary: #697CA6;
$color-additional: #6188FF;
// /VARS

// COMMON
body {
    @include roboto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h2 {
    @include quicksand();

    margin-bottom: 28px;
    font-weight: $fw-light;
    font-size: $fs-base * 4.8;
    color: #3D4F9F;

    span {
        font-weight: $fw-medium;
    }
}

h6 {
    margin-bottom: 16px;
    font-size: $fs-base;
    color: #3D4F9F;
}

.wrapper-outer {
    border-bottom: 1px solid $border-color;
}

.wrapper-inner {
    margin: 0 auto;
    max-width: $content-width-base;
    padding-top: $padding-vertical-base * 2;
    padding-bottom: $padding-vertical-base * 2;

    &_wide {
        max-width: $content-width-wide;
    }
}

.main-nav {
    display: flex;
    align-items: center;
}

.nav-wrapper {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.logo {
    width: 26px;
    height: 26px;
    border-radius: 100%;
    background-color: #5E81FE;
}

.menu {
    margin-left: 73px;
}

.menu__item {
    & + & {
        margin-left: 42px;
    }
}

.menu__item-link {
    text-decoration: none;

    @include quicksand();
    font-size: $fs-base * 1.2;
    font-weight: $fw-medium;
    color: $color-primary;
    transition: $transition;

    &_active {
        font-weight: $fw-bold;
        color: $color-additional;
    }

    &:hover {
        color: $color-additional;
    }
}

.socials {
    margin-left: auto;
}

.socials__item {
    & + & {
        margin-left: 37px;
    }
}
.socials__item-link {
    display: block;
    height: 20px;
    text-decoration: none;

    path {
        fill: $color-primary;
        transition: $transition;
    }

    &:hover {
        path {
            fill: $color-additional;
            transition: $transition;
        }
    }
}

.main-nav__button {
    @include quicksand();
    
    font-weight: $fw-bold;
    font-size: $fs-base * 1.3;

    padding: 12px 16px;
    margin: 0;
    background-color: none;
    border: 0;
    border-radius: 2px;

    &_primary {
        background-color: #D2E1FF;
        color: #3A79FF;
        transition: $transition;

        &:hover {
            background-color: darken(#D2E1FF, 5%);
            color: lighten(#D2E1FF, 10%);
            transition: $transition;
        }
    }
}

.button-wrapper {
    margin-left: 44px;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
}

.dots {
    display: flex;
    padding: 0;
    position: absolute;
    margin: 0;
    bottom: 28px;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
}

.dots__item {
    position: relative;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #D1D6E3;
    cursor: pointer;

    & + & {
        margin-left: 8px;
    }
    
    &_active {
        background-color: #5283FF;
    }
}

// /COMMON

// HEADER
.section-header {
    border: 0;
    .wrapper-inner {
        padding-top: $padding-vertical-base / 3;
        padding-bottom: $padding-vertical-base / 3;
    }
}
// /HEADER

// HERO-IMAGE
.section-hero-image {
    position: relative;
    // background-color: #D8E0F7;
}

.hero-image-slider {
    margin: 0;
    padding: 0;
    // background-color: #000f;
    list-style: none;
}

.hero-image-slider__item-content {
    * {
        align-self: center;
        text-align: center;
    }

    p {
        margin: 0;
        margin-bottom: 20px;
        width: 472px;
        font-size: $fs-base * 1.5;
        line-height: 2;
        color: #8D96BD;
    }
}

.hero-image-slider__item {
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-image-slider__button-play {
    display: flex;
    justify-content: center;
    // margin-bottom: 171px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #fff;
    box-shadow: 0 10px 50px rgba(#C9D1E7, 0.6);
    cursor: pointer;
}

// /HERO-IMAGE

// CUSTOMERS
.section-customers {
    .wrapper-inner {
        padding-top: $padding-vertical-base;
        padding-bottom: $padding-vertical-base;
    }

}
// /CUSTOMERS

// PLAN-AND-MANAGE
.section-plan-and-manage {
    background-color: #F5F8FF;
}
// /PLAN-AND-MANAGE

// ABOUT-US
.section-about-us {

}
// /ABOUT-US

// STATS
.section-stats {
    background-color: #E9EFFF;

    .wrapper-inner {
        padding-top: $padding-vertical-base;
        padding-bottom: $padding-vertical-base;
    }

}
// /STATS

// BLOG
.section-blog {
    background-color: #F5F8FF;
}
// /BLOG

// QUOTES
.section-quotes {
    background-color: #EAF0FF;
}
// /QUOTES

// FAQ
.section-faq {

}
// /FAQ

// GET-STARTED
.section-get-started {
    background-color: #6888FF;
}
// /GET-STARTED

// NEWSLETTER
.section-newsletter {
    background-color: #FCFDFF;
}
// /NEWSLETTER

// FOOTER
.section-footer {
    .wrapper-inner {
        padding-top: $padding-vertical-base * 1.5;
        padding-bottom: $padding-vertical-base * 1.5;
    }
}

.copyright {
    @include quicksand();

    margin-left: 99px;
    margin-top: 27px;
    font-weight: 500;
    font-size: $fs-base * 1.2;
    color: #AEB8D0;
}
// /FOOTER
