@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap");
body {
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: #3D4F9F;
}

h2 {
  font-family: "Quicksand", sans-serif;
  margin-bottom: 28px;
  font-weight: 300;
  font-size: 48px;
}
h2 span {
  font-weight: 500;
}

h3 {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 36px;
}
h3 span {
  font-weight: 500;
}

h6 {
  margin-bottom: 16px;
  font-size: 10px;
}

p {
  margin: 0;
  font-size: 15px;
  line-height: 2;
  color: #8D96BD;
}

.wrapper-outer {
  border-bottom: 1px solid #D8E3FE;
}

.wrapper-inner {
  margin: 0 auto;
  max-width: 900px;
  padding-top: 120px;
  padding-bottom: 120px;
}
.wrapper-inner_wide {
  max-width: 1200px;
}

.main-nav {
  display: flex;
  align-items: center;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.logo {
  width: 26px;
  height: 26px;
  border-radius: 100%;
  background-color: #5E81FE;
}

.menu {
  margin-left: 73px;
}

.menu__item + .menu__item {
  margin-left: 42px;
}

.menu__item-link {
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #697CA6;
  transition: 0.2s;
}
.menu__item-link_active {
  font-weight: 700;
  color: #6188FF;
}
.menu__item-link:hover {
  color: #6188FF;
}

.socials {
  margin-left: auto;
}

.socials__item + .socials__item {
  margin-left: 37px;
}

.socials__item-link {
  display: block;
  height: 20px;
  text-decoration: none;
}
.socials__item-link path {
  fill: #697CA6;
  transition: 0.2s;
}
.socials__item-link:hover path {
  fill: #6188FF;
  transition: 0.2s;
}

.button {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 13px;
  padding: 12px 16px;
  margin: 0;
  background-color: none;
  border: 0;
  border-radius: 2px;
  background-color: #D2E1FF;
  color: #3A79FF;
  transition: 0.2s;
  outline: none;
  cursor: pointer;
}
.button_primary:hover {
  background-color: #b9d0ff;
  color: white;
  transition: 0.2s;
}
.button_video {
  display: inline-flex;
  align-items: center;
  border: 1px solid #4C85FF;
  border-radius: 0;
  justify-content: space-between;
  background-color: #4C85FF;
  color: #fff;
}
.button_video:hover {
  background-color: #3374ff;
  border: 1px solid #3374ff;
  transition: 0.2s;
}
.button_video * {
  margin-left: 6px;
}
.button_colorless {
  padding: 12px 21px;
  border-radius: 0;
  border: 1px solid #D1D1E4;
  background-color: transparent;
  color: #ADB4D2;
}
.button_colorless:hover {
  background-color: #fcfcfc;
  border: 1px solid #cbcbe0;
  transition: 0.2s;
}

.button-wrapper {
  margin-left: 44px;
}

.content-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}
.content-wrapper_centered {
  align-items: center;
}

.dots {
  display: flex;
  position: absolute;
  padding: 0;
  margin: 0;
  bottom: 28px;
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
}

.dots__item {
  position: relative;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #D1D6E3;
  cursor: pointer;
}
.dots__item + .dots__item {
  margin-left: 8px;
}
.dots__item_active {
  background-color: #5283FF;
}

.layout-2-columns {
  display: flex;
}

.icon {
  padding: 26px;
}

.icon-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 33px;
  width: 69px;
  border-radius: 100%;
  background-color: #F1F5FF;
}

.header {
  border: 0;
}
.header .wrapper-inner {
  padding-top: 20px;
  padding-bottom: 20px;
}

.hero-image {
  position: relative;
}

.hero-image-slider {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hero-image-slider__item-content * {
  align-self: center;
  text-align: center;
}
.hero-image-slider__item-content p {
  margin-bottom: 20px;
  width: 472px;
}

.hero-image-slider__item {
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-image-slider__button-play {
  display: flex;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #fff;
  box-shadow: 0 10px 50px rgba(201, 209, 231, 0.6);
  cursor: pointer;
}

.customers .wrapper-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 60px;
}
.customers .wrapper-inner a {
  opacity: 0.3;
  transition: 0.2s;
}
.customers .wrapper-inner a:hover {
  opacity: 1;
}

.plan-and-manage {
  position: relative;
  background-color: #F5F8FF;
  padding-bottom: 129px;
}
.plan-and-manage h3 {
  margin-bottom: 27px;
}
.plan-and-manage p {
  width: 413px;
}

.plan-and-manage-buttons {
  margin-top: 47px;
}

.grouped-buttons .button:nth-child(1) {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.grouped-buttons .button:nth-child(2) {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  margin-left: -4px;
}

.plan-and-manage__aside-img {
  position: absolute;
  top: -15%;
  left: 30%;
}

.about-us-features {
  display: flex;
  justify-content: space-between;
  margin-top: 54px;
  list-style: none;
  padding: 0;
}

.about-us-features__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.about-us-features__item + .about-us-features__item {
  margin-left: 60px;
}

.stats {
  background-color: #E9EFFF;
}
.stats .wrapper-inner {
  padding-top: 60px;
  padding-bottom: 60px;
}

.blog {
  background-color: #F5F8FF;
}

.quotes {
  background-color: #EAF0FF;
}

.get-started {
  background-color: #6888FF;
}

.newsletter {
  background-color: #FCFDFF;
}

.footer .wrapper-inner {
  padding-top: 90px;
  padding-bottom: 90px;
}

.copyright {
  font-family: "Quicksand", sans-serif;
  margin-left: 99px;
  margin-top: 27px;
  font-weight: 500;
  font-size: 12px;
  color: #AEB8D0;
}

/*# sourceMappingURL=styles.css.map */
